<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/page/head.ejs %>
</head>
<header>
    <% include ../partials/page/header.ejs %>
    <% include ../partials/page/jsdefaults.ejs %>
</header>


<div class="container">
    <h2>Payment History</h2>

    <div align="center">
        <div class="input-group date" id="datepicker" style="width: 300px">
            <input type="text" class="form-control" style="text-align: center"
                   value="" onchange="test()" id="date_input">
            <span class="input-group-addon"><i
                        class="fui-list-small-thumbnails"></i></span>
        </div>
    </div>

    <form method="post" action="/managers/assign" id="assign_form">

        <table class="table">
            <tr>

                <th style="text-align:center">Customer ID</th>
                <th style="text-align:center">Sale</th>
                <th style="text-align:center">Strike</th>
            </tr>
            <tr>

                <td align="center">
                    <input type="text" class="form-control" style="width: 150px; text-align: right;">
                </td>
                <td align="center">
                    <input type="text" class="form-control" style="width: 150px; text-align: right;">
                </td>
                <td align="center">
                    <input type="text" class="form-control" style="width: 150px; text-align: right;">
                </td>

            </tr>
        </table>

    </form>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#datepicker').datepicker({
            format: "dd/mm/yyyy",
            orientation: 'auto top',
            autoclose: true,
            todayHighlight: true
        });
        var date = new Date();

        if ((date.getMonth() + 1) < 10) {
            var today = date.getDate() + '/' + (date.getMonth() + 1) + '/'  + date.getFullYear();
        } else {
            var today = date.getDate() + '/0' + (date.getMonth() + 1) + '/'  + date.getFullYear();
        }
        document.getElementById('date_input').value = today;

    });

    function parseDate() {
        var unformatted = document.getElementById('date_input').value;
        var result = unformatted.split("/");
        var select = new Date(result[2] + '-' + result[1] + '-' + result[0]);
    }
</script>

<footer>
    <% include ../partials/page/footer.ejs %>
</footer>