<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/page/head.ejs %>
</head>
<header>
    <% include partials/page/header.ejs %>
</header>
<% include partials/page/jsdefaults.ejs %>
<div class="container">
    <h2>Assign Customer</h2>

    <div align="center">
        <select name="responsibleUser" id="test"
                class="form-control select select-primary"
                data-toggle="select" form="assign_customer">
            <% for(var i = 0; i < data.length; i++) { %>

            <% if(data[i].username === currentUser) { %>

            <option value=<%= data[i].username %> selected> <%= data[i].username %></option>
            <% } else { %>
            <option value=<%= data[i].username %>><%= data[i].username %></option>
            <% } %>

            <% } %>
        </select>
    </div>

    <br>

    <form name="login-user-form" id="assign_customer" method="post"
          action="/users/customer/assign">
        <div class="login-form">
            <div class="form-group">
                <input name="customerID" type="text"
                       class="form-control login-field"
                       value=""
                       placeholder="Enter Customer ID"
                       required/>
            </div>

            <div class="form-group">
                <input name="nickname" type="text"
                       class="form-control login-field"
                       value=""
                       placeholder="Enter Customer Nickname"
                       required/>
            </div>
        </div>
        <input class="btn btn-primary btn-lg btn-block"
               type="submit" value="Submit"/>
    </form>


</div>
