<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/page/head.ejs %>
</head>
<header>
    <% include partials/page/header.ejs %>
</header>

<center>
    You are now logged in as <%= currentUser %>,
    <br>

    <h4> USER </h4>
    <a href="/users/manage" class="button">Add User/ Delete User</a>
    <br>
    <a href="/users/profiles" class="button">Edit User Profiles</a>
    <h4> CUSTOMER </h4>

    <a href="/customers/manage" class="button">Add Customer/ Delete Customer</a>
    <br>
    <a href="/customers/profiles" class="button">Edit Customer Profiles</a>
    <br>
    <a href="/customers/bank" class="button">Add Bank</a>
    <h4> WORKER </h4>
    <a href="/users/assign" class="button">Assign Customer</a>
    <br>
    <a href="/records/manage/malay/initialize-record" class="button">PL Management (Malay-TEST)</a>
    <br>
    <a href="/records/manage/thai/initialize-record" class="button">PL Management (Thai-TEST)</a>
    <br>
    <h4> OUR PAYMENT </h4>
    <a href="/users/payment" class="button">Our payment</a>

    <h4> MANAGER </h4>
    <a href="/managers/assign" class="button">Assign Manager</a>

    <h4> CENTRAL SHEET </h4>
    <a href="/records/centralsheet/malay" class="button">Central Sheet (Malay)</a>
    <br>
    <a href="/records/centralsheet/thai" class="button">Central Sheet (Thai)</a>
</center>