<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/page/head.ejs %>
</head>
<header>
    <% include partials/page/header.ejs %>
</header>

You are now logged in as <%=currentUser%>,
<br></br>
<a href="/users/manage" class="button">User Management</a>
<br></br>
<a href="/users/assign" class="button">Assign Customer To Worker</a>
<br></br>
<a href="/users/edit" class="button">Edit Customer Info</a>