<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/page/head.ejs %>
</head>
<header>
    <% include partials/page/header.ejs %>
</header>

<center>
    You are now logged in as <%= currentUser %>,
    <br>

    <h4> USER </h4>
    <a href="/users/manage" class="button"><strong style="color:red">Add User/ Delete User (ADMIN)</strong></a>
    <br>
   <a href="/users/profiles" class="button"><strong style="color:red">Edit User Profiles (ADMIN + LIMITED-W-M)</strong></a>
    <h4> CUSTOMER </h4>

    <a href="/customers/manage" class="button"><strong style="color:red">Add Customer/ Delete Customer(ADMIN)</strong></a>
    <br>
    <a href="/customers/profiles" class="button"><strong style="color:red">Edit Customer Profiles (ADMIN + LIMITED-WORKER)</strong></a>
    <br>
    <a href="/customers/bank" class="button"><strong style="color:red">Add Bank(ADMIN + LIMITED-WORKER)</strong></a>

    <h4> PARTNER </h4>

    <a href="/partners/manage" class="button"><strong style="color:red">Add Partner/ Delete Partner(ADMIN)</strong></a>
    <br>
    <a href="/partners/profiles" class="button"><strong style="color:red">Edit Partner Profiles (ADMIN + LIMITED-WORKER)</strong></a>
    <br>
    <a href="/partners/bank" class="button"><strong style="color:red">Add Bank(ADMIN + LIMITED-WORKER)</strong></a>

    <h4> WORKER </h4>
    <a href="/users/assign" class="button"><strong style="color:red">Assign Customer (ADMIN)</strong></a>
    <br>
    <a href="/records/initialize/malay/manage" class="button">PL Management (Malay-TEST)</a>
    <br>
    <a href="/records/initialize/thai/manage" class="button">PL Management (Thai-TEST)</a>
    <br>
    <h4> OUR PAYMENT </h4>
    <a href="/users/payment" class="button"><strong style="color:red">Our payment(ADMIN)</strong></a>

    <h4> MANAGER </h4>
    <a href="/managers/assign" class="button"><strong style="color:red">Assign Manager</strong></a>

    <h4> CENTRAL SHEET </h4>
    <a href="/records/centralsheet/malay" class="button">Central Sheet (Malay)</a>
    <br>
    <a href="/records/centralsheet/thai" class="button">Central Sheet (Thai)</a>

    <h4> TRANSACTION </h4>
    <a href="/records/initialize/malay/payout" class="button">Pay Out (Malay)</a>
    <br>
    <a href="/records/initialize/thai/payout" class="button">Pay Out (Thai)</a>
    <br>
    <a href="/records/initialize/malay/payin" class="button">Pay In (Malay)</a>
    <br>
    <a href="/records/initialize/thai/payin" class="button">Pay In (Thai)</a>
</center>