<meta charset="utf-8">
<title><%= title %></title>

<meta name="viewport"
      content="width=1000, initial-scale=1.0, maximum-scale=1.0">

<!-- Loading Bootstrap -->
<link href="/vendor/stylesheets/bootstrap.min.css"
      rel="stylesheet">
<link href="/vendor/stylesheets/flat-ui.css"
      rel="stylesheet">
<link href="/vendor/stylesheets/bootstrap-datepicker3.standalone.css"
      rel="stylesheet">

<link href="/stylesheets/style.css" rel="stylesheet">











