<meta charset="utf-8">
<title>Apple Company</title>

<meta name="viewport"
      content="width=1000, initial-scale=1.0, maximum-scale=1.0">

<!-- Loading Bootstrap -->
<link href="/stylesheets/FlatDesignCSS/vendor/bootstrap.min.css"
      rel="stylesheet">

<!-- Loading Flat UI -->
<link href="/stylesheets/FlatDesignCSS/flat-ui.css" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet">




